.App-Background {
  text-align: center;
  color:white;
  background-color: #223b6e;
}



.App-Search {
  background-color: #223b6e;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  margin-top: 2em;
  
}

.App-link {
  color: #61dafb;
}